@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

:root {
    --color-text-light: #FFFFFF; 
    --color-text-dark: #333333; 
    --color-accent-blue: #155DFC; 
    --color-title-blue: #155DFC; 
    --color-square-bg: #2B7FFF;
    --color-footer-bg: #FFFFFF; 
    --color-footer-border: #EEEEEE; 
    --color-text-dark: #333333;
    
    --font-main: 'Inter','Roboto', sans-serif; 
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--font-main);
    color: var(--color-text-dark);
    display: flex; 
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex-grow: 1; 
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    color: var(--color-title-blue); 
}

.contact-links a {
    color: var(--color-text-light); 
}