.homepage-content {
    flex: 1; 
    display: flex;
    justify-content: center; 
    align-items: center; 
    padding: 40px 20px; 
}
.main-card {
    background: linear-gradient(135deg, #E7000B 0%, #C10007 100%);
    box-shadow: 0px 25px 50px -12px #00000040;
    padding: 50px 80px;
    margin: 0 auto;
    width: 1280px;
    height: 628px;
    color: var(--color-text-light); 
    border-radius: 20px;
    position: relative; 
    display: flex; 
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    overflow: hidden; 
    z-index: 1;    
}

.deco-circle {
    position: absolute;
    width: 112px;
    height: 112px;
    top: 40.5px;
    left: 40.5px;
    border-radius: 16777200px;
    opacity: 0.8;

    background: #155DFC;
    z-index: -1;
}

.deco-square {
    position: absolute;
    width: 135.76px;
    height: 135.76px;
    background-color: var(--color-square-bg);
    top: 472.12px;
    left: 1028.12px;
    transform: rotate(45deg); 
    z-index: -1; 
}


.profile-container {
    overflow: hidden;
    border: 8px solid var(--color-accent-blue); 
    box-shadow: 0px 25px 50px -12px #00000040 ;
    flex-shrink: 0; 
    width: 500px;
    height: 500px;
    left: 652px;
    border-radius: 16777200px;
    opacity: 1;
    border-width: 8px;
    background: #FFFFFF00;
}

.profile-container img {
    width: 500px;
    object-fit: cover;
    position: relative;
    top: -65px;
}

.text-content {
    flex-grow: 1;
    max-width: 60%; 
}

h1 {
    font-family: "Inter";
    font-weight: 500;
    font-style: Medium;
    font-size: 70px;
    line-height: 96px;
    letter-spacing: 0px;
    margin-bottom: 5px;
}

h2 {
    margin-bottom: 20px;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    letter-spacing: 0.4px;
}
.text-container {
    width: 432px;
    height: 84px;
    top: 0.5px;
    left: 0.5px;
    angle: 0 deg;
    opacity: 1;
}
.intro-text {
    line-height: 1.5;
    margin-bottom: 30px;
    font-family: 'Inter';
    font-weight: 400;
    font-style: Regular;
    font-size: 18px;
    leading-trim: NONE;
    line-height: 28px;
    letter-spacing: -0.44px;

}

.contact-links a {
    display: inline-block;
    margin-right: 20px;        
    position: relative;
    height: 47px;
    opacity: 1;
    gap: 24px;
    padding-top: 16px;

    font-family: 'Inter';
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.31px;
    text-decoration: underline;
    text-decoration-style: solid;
    text-decoration-offset: 0%;
    text-decoration-thickness: 0%;
    text-decoration-skip-ink: auto;


}
.contact-links i {
    margin-right: 5px;
    font-size: 20px;
    position: relative;
    bottom: -2px;
}
.contact-links a:hover {
    color: var(--color-title-blue); 
}
    

@media (max-width: 768px) {
    .main-card {
        width: 90%; 
        height: auto; 
        flex-direction: column; 
        padding: 30px 20px;
        margin: 0px auto; 
        overflow: hidden; 
        border-radius: 20px;
    }
    .text-content {
        max-width: 100%;
        text-align: left; 
    }
    .text-container {
        width: 100%; 
        height: auto; 
        font-size: 18px;
    }
    .intro-text {
        margin-bottom: 0px; 
    }
    .profile-container {
        width: 270px; 
        height: 270px;
        margin-bottom: 20px;
    }
    
    .profile-container img {
        top: -30px; 
        width: 100%;
        height: auto;
    }
    
    .contact-links {
        display: flex; 
        flex-direction: column; 
        align-items: flex-start;
        text-align: center;
        width: 100%;
    }
    
    .contact-links a {
        display: flex; 
        justify-content: flex-start; 
    }
    .contact-links i {
        margin-right: -15px;
    }
    
    
    h1 {
        font-size: 48px; 
        line-height: 55px;
    }
    h2 {
        font-size: 24px;
        line-height: 30px;
    }
    
    .deco-circle {
        width: 32px;
        height: 32px;
        top: 32px;
        left: 260px;
        border-radius: 16777200px;
        angle: 0 deg;
        opacity: 0.8;
    }
    .deco-square {
        width: 50px;
        height: 50px;
        top: 700px;
        left: 240px;
        transform: rotate(12deg); 

    }
}