    .legal-page-content {
        max-width: 900px; 
        margin: 50px auto; 
        padding: 0 20px;
    }

    .back-link span {
        margin-bottom: 40px;
        font-size: 1.1em;
        text-decoration: none;
        font-family: 'Inter';
        font-weight: 400;
        font-style: Regular;
        font-size: 16px;
        leading-trim: NONE;
        line-height: 24px;
        letter-spacing: -0.31px;
        text-decoration: underline;
        text-decoration-style: solid;
        text-decoration-offset: 0%;
        text-decoration-thickness: 0%;
        text-decoration-skip-ink: auto;
    }
    
    .back-link:hover {
        color: var(--color-title-blue); 
    }

    h1 {
        color: var(--color-title-blue); 
        margin-bottom: 30px;
        margin-top: 20px;
        font-family: 'Inter';
        font-weight: 500;
        font-style: Medium;
        font-size: 96px;
        leading-trim: NONE;
        line-height: 96px;
        letter-spacing: -0.31px;

    }

    h2 {
        color: #0A0A0A;
        margin-top: 40px;
        margin-bottom: 15px;
        font-family: 'Inter';
        font-weight: 200;
        font-style: Regular;
        font-size: 48px;
        leading-trim: NONE;
        line-height: 24px;
        letter-spacing: -0.31px;
        padding-bottom: 25px;

    }
    
    .legal-section p {
        line-height: 1.6;
        margin-bottom: 60px;
        font-family: 'Inter';
        font-weight: 400;
        font-style: Regular;
        font-size: 16px;
        leading-trim: NONE;
        line-height: 24px;
        letter-spacing: -0.31px;

    }
    
    @media (max-width: 768px) {
        h1 {
            font-size: 2.5em; 
        }
        h2 {
            font-size: 1.5em;
        }
    }
