---
import BaseLayout from '../layouts/baseLayout.astro';
import Footer from '../components/footer.astro'; 
import '../styles/global.css';
import '../styles/homepage.css';
---
<BaseLayout title="Accueil - Zephine Deforest | Développeuse Web"
    description="Bienvenue sur le site de Zéphine Deforest, développeuse web passionnée. Découvrez mes compétences en développement front-end et back-end, ainsi que mes projets récents. Contactez-moi pour collaborer sur vos futurs projets web.">
    <main class="homepage-content">
        <section class="main-card">
            
            <div class="deco-circle"></div>
            <div class="deco-square"></div>

            <div class="text-content">
                <h1>Zéphine Deforest</h1> 
                <h2>Je suis très douée pour coder</h2>
                <div class="text-container">
                    <p class="intro-text">
                        Je décris ici mes expertises succinctement et j'avance que j'exerce avec passion ce métier depuis plusieurs années.
                    </p>
                
                </div>
                
                <div class="contact-links">
                    <a href="mailto:contact@johndoe.com">
                        <i class="fa-regular fa-envelope"></i>
                        zephine.deforest@condorcet.com
                    </a>
                    <a href="tel:+33123456789">
                        <i class="fa-solid fa-phone"></i>
                        +32 123 45 67 89
                    </a>
                </div>
            </div>

            <div class="profile-container">
                <img src="/images/photoProfil.jpg" alt="Photo de profil de Zéphine Deforest" />
            </div>

        </section>
    </main>
    <Footer /> 
</BaseLayout>

