---
import '../styles/global.css';

interface Props {
	title: string;
}

const { title } = Astro.props;
---
<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <script src="https://kit.fontawesome.com/bb66131130.js" crossorigin="anonymous"></script>

		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>{title}</title>
	</head>
	<body>
        <slot />
	</body>
</html>