---
import '../styles/global.css';

interface Props {
	title: string;
	description: string;
}

const { title, description } = Astro.props;
---
<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />

		<title>{title}</title>
		<meta name="description" content={description} />

		<script src="https://kit.fontawesome.com/bb66131130.js" crossorigin="anonymous"></script>

	</head>
	<body>
        <slot />
	</body>
</html>